div#particles-js data-count=@node_count
div.vertAlign.text-center
	    h3.white
	       	' Search over 
			=' human_num(@count)
	    	| Articles
	    = render "articles/search"
	    p.white
	    	=' link_to "About Cabretio", about_path
	    	' |
			=' link_to "Search Articles", search_path
			' |
			=' link_to "All Articles", articles_path
			' |
			=' link_to "Feeling Stressed", relax_path

javascript:
	particlesJS('particles-js', {
	  particles: {
	    color: '#fff',
	    shape: 'circle', // "circle", "edge" or "triangle"
	    opacity: 0.75,
	    size: 2,
	    size_random: true,
	    nb: $('#particles-js').data('count'),
	    anim: {
	      enable: true,
	      speed: 1
	    }
	  },
	  interactivity: {
	    enable: true,
	    mouse: {
	      distance: 125
	    },
	    detect_on: 'canvas', // "canvas" or "window"
	    mode: 'grab',
	    line_linked: {
	      opacity: .75
	    },
	    events: {
	      onclick: {
	        enable: false,
	        mode: 'push', // "push" or "remove" (particles)
	        nb: 4
	      }
	    }
	  },
	  /* Retina Display Support */
	  retina_detect: true
	});