/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   box-sizing: border-box;
 }
 
 html, body.home {
   min-height: 100%;
 }

body { margin-top: 70px; padding-bottom: 70px;}
 
 .home { 
  min-height: 100%;
  background:  linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url(https://unsplash.imgix.net/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0;padding: 0;
}


.vertAlign {
  height: 20%;
  margin-top: 40%;
}
  .vertAlign a {
    color: #3e3f3a;
  }

li {
	list-style-type: circle;
}
.browser-window {
  text-align: left;
  margin: 20px;
  width: 800px;
  height: 500px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
}

.browser-window .top-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #e2e2e1);
}

.browser-window .circle {
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}

.browser-window .circles {
  margin: 5px 11px;
}

.browser-window .content {
  margin: 0;
  width: 100%;
  min-height: 50%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
	border: solid 2px #e2e2e1;
}
.browser-window .content img {
	width: 100%;
}

.clear {
  clear: both;
}

.pagination {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}